log.txt
firstRepo
UsersRadeksourcereposSamochodElektrycznyKalkulacja1
.vs/SamochodElektrycznyKalkulacja1/v16
SamochodElektrycznyKalkulacja1/bin
SamochodElektrycznyKalkulacja1/obj
.gitignore
login.txt
